@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: black; */
  color: white;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#manga-reader-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
