@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background-rgb: 25, 26, 28;
  --secondary-background-rgb: 44, 44, 44;
  --accent-background-rgb: 44, 44, 44;
  --accent-background-10-rgb: 66, 66, 66;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  color: aliceblue;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: auto;
  background-color: rgb(25, 26, 28);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
